[tool.coverage.report]
exclude_also = ["if TYPE_CHECKING:"]

[tool.coverage.run]
omit = ["tests/*"]
relative_files = true

[tool.mypy]
files = ["alembic", "lofi", "tests"]
strict = true

[tool.pytest.ini_options]
env = [
    "AWS_BUCKET_NAME=AWS_BUCKET_NAME",
    "DB_NAME=DB_NAME",
    "LOCAL_DB=",
    "SPOTIPY_CLIENT_ID=SPOTIPY_CLIENT_ID",
    "SPOTIPY_CLIENT_SECRET=SPOTIPY_CLIENT_SECRET",
    "SPOTIPY_REDIRECT_URI=http://SPOTIPY_REDIRECT_URI",
]
testpaths = ["tests"]


[tool.ruff]
line-length = 120

[tool.ruff.lint]
ignore = [
    "COM812",
    "D100",
    "D101",
    "D102",
    "D103",
    "D104",
    "D105",
    "D107",
    "D203",
    "D213",
    "DTZ011",
    "ISC001",
    "PD901",
    "S101",
]
select = ["ALL"]
