click~=8.1.0
fastapi~=0.110.0
google-api-python-client~=2.130.0
google-auth-httplib2~=0.2.0
google-auth-oauthlib~=1.2.0
pandas~=2.2.0
pydantic~=2.5.0
pyhumps~=3.8.0
python-dotenv~=1.0.0
spotipy~=2.25.0
sqlalchemy~=2.0.0
tqdm~=4.66.0
